extends ../../includes/layout

block content
  .container
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th 菜谱分类
            th 菜谱名称
            th 时间
            th 查看
            th 修改
            th 删除
        